body {
	width: 100%;
} 
/* columns */
.split {
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
}
.left {
	height: 90%;
	width: 15%;
  left: 0;
	top: 0;
  background-color: #000;
}
.right {
	height: 90%;
	width: 85%;
  right: 0;
	top: 0;
  background-color: #111;
}
.bottom {
	height: 10%;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: #222;
}
.top {
	width: 100%;
	top: 0;
	left: 0;
	background-color: #222;
}
.results {
	height: calc(100% - 46.4px);
	overflow-y: scroll;
	width: 100%;
}
/* result */
.result {
	height: 100%;
	position: relative;
	font-family: Arial;
	background:#2c2f33;
	max-height: 128px;
}
.result:hover {
	background-color: #383c41 ;
}
.thumb {
	max-height: 128px;
	height: 100%;
	width: 30%;
}
.title {
	color: #fff;
	margin: 0 !important;
	margin-top: -10% !important;
	width: 70%;
	position: relative;
	font-size: 2vw;
	left: 30%;
	top:0;
}
.authur {
	margin: 0 !important;
	color: #ccc;
	margin-top: -7% !important;
	width: 70%;
	font-size: 1vw;
	position: relative;
	left: 30%;
	top:0;
}
.views {
	color: #ccc;
	margin: 0 !important;
	margin-top: -5% !important;
	width: 70%;
	font-size: 1vw;
	position: relative;
	left: 30%;
	top:0;
}
/* search */
.search {
  width: 21.785%;
  box-sizing: border-box;
  border: 2px solid #ccc; /*change to percent*/
  border-radius: 4px;
  font-size: 1em;
  background-color: white;
  background-image: url('../img/searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 0.744% 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.search:focus {
  width: 100%;
}
/* scroll bar */
::-webkit-scrollbar-track {
  background: #2f3136;
}

::-webkit-scrollbar-thumb {
  background: #23272a;
  border-radius: 5px;
}
/* left menu */
.vertical-menu {
  width: 100%;
	text-align: center;
}

.vertical-menu h5 {
	color: #ffffff !important;
	margin: 0;
  display: block; 
  padding: 1.12429vw;
	font-size: 125%;
  text-decoration: none !important;
}
.vertical-menu h6 {
  color: #ccc !important;
  display: block; 
  padding: 1.12429vw;
	font-size: 200%;
  text-decoration: none !important;
}
.vertical-menu h5:hover {
  background-color: #333;
}
.vertical-menu h5.active {
  background-color: #333;
}
/* Login Selector */
.Logintype {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}
.Logintype-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
	text-align: center;
}
.Logintype-content h2 {
  margin: 0;
	padding-bottom: 5%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}